body {
/*  background-color: #fafafa;*/
}

.bg-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 0;
  transition: all 350ms ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}



.reveal {
  opacity: 0.95;
  display: block;
  pointer-events: auto;
  visibility: visible;
}

.hamburger-shell {
  margin: 0;
  position: fixed;
  /*overflow: hidden;*/
  width: 70px;
  height: 100px;
  /*overflow: auto;*/
  left: calc(100% - 100px);
  top: 10px;
}

  @media only screen and (max-width: 768px) and (min-width: 376px){
  .hamburger-shell{
    top: 30px;
    }
  }

.top, .middle{
  position: absolute;
  width: 62px;
  height: 5px;
  background-color: #42515e;
  transition: all 350ms ease-in-out;
  top: 20px;
}

.middle {
  top: 35px;
}

#menu {

/*=================================
    SCROLL ISSUE
===================================
*/

/*  position: fixed;*/

/*=================================
    SCROLL ISSUE
===================================
*/


  left: calc(100% - 200px);
  top: 10px;
  color: #42515e;
  display: none;
  margin: 70px 10px;
  text-decoration: none;
  font-weight: 100;
  font-size: 20px;
  text-transform: uppercase;
  color: #42515e;
  padding: 24px;
  width: 200px;
  text-align: right;
}

#menu a li {
  text-decoration: none!important;
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 1px solid #42515e;
  list-style: none;
  color: #555;
  transition: all 150ms ease;
}

#menu a li:hover {
  color: #52D1DC;
  padding-right: 3px;
}

#menu a li:hover:after {
}



#menu a {
  text-decoration: none;
}

.rotate {
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  top: 30px;
  background-color: #52D1DC;
  height: 2px;
}

.rotate-back {
  transform: rotate(-225deg);
  -webkit-transform: rotate(-225deg);
  top: 30px;
  background-color: #52D1DC;
  height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
  -webkit-animation-delay: 400ms;
}

.menu-name {
  font-weight: 900;
  color: #42515e;
  font-size: 19.5px;
  letter-spacing: 0.1em;
  text-decoration: none;
  position: absolute;
  top: 45px;
  left: -1px;
  transition: all 350ms;
}

.bump {
  top: 64px;
  color: #52D1DC;
}

